* {
	font-family: 'Open Sans', sans-serif;

}
html, body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: #777;
}

#header  {
	width: 100%;
	background: #eee;
	padding: 2em 0;
}

#header-content {
	width: 50%;
	margin: 0 auto;
}

#header-content h1 {
	color: #555;
}

#main {
	width: 50%;
	margin: 1.5em auto 0 auto;
}

#main:after {
	display: block;
	clear: both;
	content: '';
}

#main-content {
	float: left;
	width: 65%;
}

#main-content p {
	margin: 0 0 2em;
	line-height: 1.5;
}

#rules {
	margin-bottom: 2em;
}

#sidebar {
	width: 30%;
	float: right;
}

#sidebar ol, #sidebar ul {
	margin-top: 0;
	padding-left: 22px;
	line-height: 1.5;;
}

#friendsProjects ul {
	padding: 0;
}

#friendsProjects li {
	list-style: none;
}

.bigBtn {
	border-radius: 7px;
	background: #444;
	color: #E9E9E9;
	padding: 8px 10px 11px;
	font-size: 0.85em;
}

.bigBtn:first-child {
	margin: 0 10px 0 0;
}

#gameOver {
	background: #F5F5F5;
	padding: 1em;
	display: none;
	padding: 1px solid #EEE;
}

#guessInfo {
	display: hidden;
	padding: 1em;
}

.correctGuess {
	display: visible;
	background: #F1F8E9;
	border: 1px solid #DCEDC8;
}
.wrongGuess {
	display: visible;
	background: #ffebee;
	border: 1px solid #FFCDD2;
}

a {
	color: #222;
	text-decoration: none;
}

h2 {
	color: #444;
	margin: 0;
	padding: 0;
}

input {
	background: #444;
	color: #E9E9E9;
	border: 1px solid #ddd;
	padding: 10px;
}